<md-content class="md-padding" style="padding: 0px;overflow: hidden;">
    <div class="row search-row-heading">
        <md-toolbar class="md-small search-row-toolbar search-row">
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="images/svg/header_search.svg"></md-icon>
                <span class="font-big">&nbsp;&nbsp;Search Work Order</span>
                <span flex=""></span>
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="toggleSplitSearchRow()">
                    <md-icon ng-if="searchWorkOrderSplitClicked==false" md-svg-icon="images/svg/expand_icon.svg"></md-icon>
                    <md-icon ng-if="searchWorkOrderSplitClicked==true" md-svg-icon="images/svg/collaps_icon.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div ng-show="searchWorkOrderSplitClicked==true" class="row search-row search-row-content search-row-top-border">
        <div layout="row">
            <div class="inv-search-margin">
                <span class="font">Select Warehouse</span>
                <select ng-model="warehouseid" class="inventoryscreen-dropdown font" ng-change="callDisabledSplit();">
                    <option value="">
                        Select
                    </option>
                    <option ng-repeat="option in wareHousesData"
                        value="{{option.idtableWarehouseDetailsId}}">
                        {{option.tableWarehouseDetailsShortname}}
                    </option>
                 </select>
            </div>
            <div>
                <md-datepicker ng-model="start1Date" md-min-date="mainstartminDate" md-max-date="mainstartmaxDate" ng-change="mainsendStartDate(start1Date);callDisabledSplit();" md-placeholder="Start Date" style="background-color: inherit;margin-top:3px;"></md-datepicker>
                <md-datepicker ng-model="end1Date" md-min-date="mainendminDate" md-max-date="mainendmaxDate" ng-change="mainsendEndDate(end1Date);callDisabledSplit();" md-placeholder="End Date" style="background-color: inherit;margin-top:3px;"></md-datepicker>
                <button type="button" class="btn btn-default mybut" ng-click="submitWorkOrderSplitAction(warehouseid,start1Date,end1Date)" ng-disabled="isSubmitDisabledSplit">Submit</button>
                <button title="Clear Applied Filters" class="btn clearFilter" ng-click="clearAction2();warehouseid=null;start1Date=null;end1Date=null" ng-disabled="isResetDisabledSplit">
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn add-button font pull-right btn-top-margin" ng-click="showAddSplitDialog($event)">Create New Split</button>
        </div>
    </div>
    <div class="row main-list">
        <table class="table table-striped-custom table-condensed table-responsive table-hover">
            <thead class="main-list-header-wo">
                <!-- table header -->
                <tr>
                    <td>Work Order Id</td>
                    <td>SKU Name</td>
                    <td>SKU ID</td>
                    <td>Warehouse</td>
                    <td>Date</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody ng-repeat="workOrdersplitData in workOrdersplitLists">
                <tr class="clickable-row-wo">
                    <td>{{workOrdersplitData.idtableWorkOrderId}}</td>
                    <td>{{workOrdersplitData.tableWorkOrderSkus[0].tableSku.tableSkuName}}</td>
                    <td>{{workOrdersplitData.tableWorkOrderSkus[0].tableSku.tableSkuClientSkuCode}}</td>
                    <td>{{workOrdersplitData.tableWarehouseDetails.tableWarehouseDetailsShortname}}</td>
                    <td>{{workOrdersplitData.tableWorkOrderDatetime[2]}}-{{workOrdersplitData.tableWorkOrderDatetime[1]}}-{{workOrdersplitData.tableWorkOrderDatetime[0]}}</td>
                    <td>
                        <img ng-src="{{imgsrc1}}" title="Edit" width="20px" height="20px" data-ng-click="editWorkOrders($event,workOrdersplitData.idtableWorkOrderId,workOrdersplitData.tableWorkOrderType.idtableWorkOrderTypeId)" ng-init="imgsrc1='images/svg/edit.svg'" ng-mouseover="imgsrc1='images/svg/edit_hover.svg'"
                            ng-mouseout="imgsrc1='images/svg/edit.svg'" />&nbsp;|&nbsp;
                        <img ng-if="workOrdersplitData.tableWorkOrderStatusType.idtableWorkOrderStatusTypeId!=5" ng-src="{{imgsrc2}}" title="Cancel" width="20px" height="20px" data-ng-click="cancelWorkOrder(workOrdersplitData.idtableWorkOrderId,workOrdersplitData,$event)" ng-init="imgsrc2='images/svg/deactivate.svg'" ng-mouseover="imgsrc2='images/svg/deactivate_hover.svg'"
                            ng-mouseout="imgsrc2='images/svg/deactivate.svg'" />
                        <img ng-src="{{imgsrc2}}" ng-if="workOrdersplitData.tableWorkOrderStatusType.idtableWorkOrderStatusTypeId==5" style="pointer-events: none;cursor: default;" title="Cancel" width="20px" height="20px" data-ng-click="cancelWorkOrder(workOrdersplitData.idtableWorkOrderId,workOrdersplitData,$event)" ng-init="imgsrc2='images/svg/deactivate.svg'" ng-mouseover="imgsrc2='images/svg/deactivate_hover.svg'"
                            ng-mouseout="imgsrc2='images/svg/deactivate.svg'" />                            
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END TABLE -->
        <div class="row" style="margin-top: 0px;">
            <div class="col-md-6">
                <p class="showingOrderLabel" ng-show="allworkOrderSplitSize<workOrdSplitCount">Showing Split {{allworkOrderSplitStart + 1}} to {{allworkOrderSplitSize}} of {{workOrdSplitCount}}
                </p>
                <p class="showingOrderLabel" ng-show="allworkOrderSplitSize>=workOrdSplitCount && workOrdSplitCount!=0">Showing Split {{allworkOrderSplitStart + 1}} to {{workOrdSplitCount}} of {{workOrdSplitCount}}
                </p>
                <p class="showingOrderLabel" ng-show="workOrdSplitCount==0">No Splits Available
                </p>
            </div>
            <div class="col-md-6">
                <span class="pull-right">
                    <!-- pager -->
                    <ul ng-if="vmPagerWoSplitStart.pages.length" class="pagination">
                        <li ng-show="vmPagerWoSplitStart.currentPage == 1" ng-class="{disabled:vmPagerWoSplitStart.currentPage === 1}">
                            <a>&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage > 1" ng-class="{disabled:vmPagerWoSplitStart.currentPage === 1}">
                            <a ng-click="listOfWorkOrderSplitCount(1)">&lt;&lt; First</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage == 1" ng-class="{disabled:vmPagerWoSplitStart.currentPage == 1}">
                            <a>&lt; Previous</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage > 1" ng-class="{enabled:vmPagerWoSplitStart.currentPage > 1}">
                            <a ng-click="listOfWorkOrderSplitCount(vmPagerWoSplitStart.currentPage - 1)">&lt; Previous</a>
                        </li>
                        <li ng-repeat="page in vmPagerWoSplitStart.pages" ng-class="{active:vmPagerWoSplitStart.currentPage === page}">
                            <a ng-click="listOfWorkOrderSplitCount(page)">{{page}}</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage < vmPagerWoSplitStart.totalPages" ng-class="{enabled:vmPagerWoSplitStart.currentPage > vmPagerWoSplitStart.totalPages}">
                            <a ng-click="listOfWorkOrderSplitCount(vmPagerWoSplitStart.currentPage + 1)">Next &gt;</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage == vmPagerWoSplitStart.totalPages" ng-class="{disabled:vmPagerWoSplitStart.currentPage == vmPagerWoSplitStart.totalPages}">
                            <a>Next &gt;</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage < vmPagerWoSplitStart.totalPages" ng-class="{disabled:vmPagerWoSplitStart.currentPage === vmPagerWoSplitStart.totalPages}">
                            <a ng-click="listOfWorkOrderSplitCount(vmPagerWoSplitStart.totalPages)">Last &gt;&gt;</a>
                        </li>
                        <li ng-show="vmPagerWoSplitStart.currentPage == vmPagerWoSplitStart.totalPages" ng-class="{disabled:vmPagerWoSplitStart.currentPage === vmPagerWoSplitStart.totalPages}">
                            <a>Last &gt;&gt;</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</md-content>
<!-- Add New Kit Dialog -->
<div ng-include src="'inventory/workOrders/addNewSplitDialog.html'"></div>
<div ng-include src="'inventory/workOrders/cancelWorkOrder.html'"></div>
