<script type="text/ng-template" id="dialog1.tmpl.html" ng-controller="inventoryController">
    <md-dialog aria-label="Add New Inventory" style="width: 900px;position: relative;" ng-cloak>
        <form>
            <md-toolbar style="background-color: #F2F7F8;">
                <div class="md-toolbar-tools">
                    <p class="dialog-heading-p" ng-if="mode=='add'">Add New Inventory</p>
                    <p class="dialog-heading-p" ng-if="mode=='edit'">Block Inventory</p>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="images/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content ng-if="mode=='add'">
                <div class="md-dialog-content">

                    <!-- Product Search -->
                    <div class="row">
                        <div class="col-md-2 margin-top-5">
                            <span class="semi-bold-text">Product</span>
                        </div>
                        <div class="col-md-6">
                            <angucomplete-alt id="products" placeholder="Search product" pause="400" selected-object="singleorderData.productObj" remote-url="{{baseSkuUrl}}" title-field="tableSkuName" description-field="tableSkuDescription" image-field="tableSkuImageUrl" code-field="tableSkuClientSkuCode"
                                input-class="form-control darkgrey-bottom-border input-less-padding"></angucomplete-alt>
                        </div>
                        {{skuClientCode=singleorderData.productObj.originalObject.tableSkuClientSkuCode;""}} {{inventoryData.tableSku=singleorderData.productObj.originalObject;""}} {{skuShelfType=singleorderData.productObj.originalObject.tableSkuShelfLifeType.idtableSkuShelfLifeTypeId;""}}
                    </div>

                    <!-- SKU ID -->
                    <div class="row row-margin-top">
                        <div class="col-md-2 margin-top-5">
                            <span class="semi-bold-text">SKU ID</span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Enter SKU ID" id="skuid" name="skuid" ng-model="skuClientCode" class="darkgrey-bottom-border">
                        </div>
                    </div>

                    <hr />

                    <!-- Warehouse and Vendor -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Warehouse</span>
                        </div>
                        <div class="col-md-4">
                            <select ng-model="inventoryData.tableWarehouseDetails" class="form-control">
                              <option value="">Select Warehouse</option>
                              <option ng-repeat="option in wareHousesData" value={{option}}>{{option.tableWarehouseDetailsShortname}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Vendor</span>
                        </div>
                        <div class="col-md-4">
                            <select ng-model="inventoryData.tableVendor" class="form-control">
                              <option value="">Select Vendor</option>
                              <option ng-repeat="option in vendorsData" value={{option}}>{{option.tableVendorName}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- MRP and MSP -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">MRP</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" placeholder="Enter MRP" ng-keypress="Num1($event)" onkeypress="return isNumberKey(event,this)" type="number" min="0" id="mrp" name="mrp" ng-model="inventoryData.tableSkuInventoryMaxRetailPrice" ng-change="checkMspGrtMrp(inventoryData.tableSkuInventoryMaxRetailPrice,inventoryData.tableSkuInventoryMinSalePrice)"></input>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Min Sale Price</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" placeholder="Enter MSP" ng-keypress="Num1($event)" onkeypress="return isNumberKey(event,this)" type="number" min="0" id="msp" name="msp" ng-model="inventoryData.tableSkuInventoryMinSalePrice" ng-change="checkMspGrtMrp(inventoryData.tableSkuInventoryMaxRetailPrice,inventoryData.tableSkuInventoryMinSalePrice)"></input>
                        </div>
                    </div>

                    <!-- Available and Bad Quantity -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Available Quantity</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" placeholder="Enter Available Quantity" ng-change="checkValidAvblQty(inventoryData.tableSkuInventoryAvailableCount);" ng-class="{submitted:validAvblQty}" ng-keypress="Num($event)" type="number" min="0" ng-model="inventoryData.tableSkuInventoryAvailableCount"></input>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Bad Quantity</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" placeholder="Enter Bad Quantity" ng-keypress="Num($event)" type="number" min="0" id="badQuality" name="badQuality" ng-model="inventoryData.tableSkuInventoryInwardQcFailedCount"></input>
                        </div>
                    </div>

                    <!-- Batch No -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Batch No.</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" placeholder="Enter Batch No." type="text" id="batchNo" name="batchNo" ng-model="inventoryData.tableSkuInventoryBatchNo"></input>
                        </div>
                        <div class="col-md-2" ng-if="skuShelfType==1">
                            <span class="semi-bold-text">Shelf Life(Days)</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==1">
                            <input class="darkgrey-bottom-border" placeholder="Enter Shelf Life" ng-keypress="Num($event)" type="number" min="0" id="shelfLife" name="shelfLife" ng-model="inventoryData.tableSkuInventoryShelfLifeInDays"></input>
                        </div>
                    </div>

                    <!-- Mfg and Expiry Date -->
                    <div class="row row-margin-top">
                        <div class="col-md-2" ng-if="skuShelfType==1">
                            <span class="semi-bold-text">Mfg Date</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==1">
                            <md-datepicker ng-if="skuShelfType==1" md-max-date="mainstartmaxDate" ng-model="inventoryData.tableSkuInventoryMfgDate" md-placeholder="Enter date"></md-datepicker>
                        </div>
                        <div class="col-md-2" ng-if="skuShelfType==2">
                            <span class="semi-bold-text">Expire Date</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==2">
                            <md-datepicker ng-if="skuShelfType==2" md-min-date="invMinDate" ng-model="inventoryData.tableSkuInventoryExpiryDate" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>

                    <!-- {{inventoryData}} -->
                    {{$parent.invData=inventoryData;""}}
                </div>
            </md-dialog-content>

            <md-dialog-content ng-if="mode=='edit'">
                <div class="md-dialog-content">

                    <!-- SKU ID -->
                    <div class="row">
                        <div class="col-md-2 margin-top-5">
                            <span class="semi-bold-text">SKU ID</span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="skuid" name="skuid" ng-model="productId" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>

                    <!-- Product Search -->
                    <div class="row row-margin-top">
                        <div class="col-md-2 margin-top-5">
                            <span class="semi-bold-text">Product</span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="skuid" name="skuid" ng-model="productName" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>
                    <hr />

                    <!-- Warehouse and Vendor -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Selected Warehouse</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="skuid" name="skuid" ng-model="tableWareHouseName" class="darkgrey-bottom-border" ng-readonly="true"></input>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Selected Vendor</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="skuid" name="skuid" ng-model="tableVendorName" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>

                    <!-- MRP and MSP -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">MRP</span>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="0" id="mrp" name="mrp" ng-model="inventoryData.tableSkuInventoryMaxRetailPrice" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Min Sale Price</span>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="0" id="msp" name="msp" ng-model="inventoryData.tableSkuInventoryMinSalePrice" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>

                    <!-- Available and Bad Quantity -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Available Quantity</span>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="0" id="quantity" name="quantity" ng-model="inventoryData.tableSkuInventoryAvailableCount" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                        <div class="col-md-2">
                            <span class="semi-bold-text">Bad Quantity</span>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="0" id="badQuality" name="badQuality" ng-model="inventoryData.tableSkuInventoryOutwardQcFailedCount" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>

                    <!-- Batch No -->
                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Batch No.</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="batchNo" name="batchNo" ng-model="inventoryData.tableSkuInventoryBatchNo" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                        <div class="col-md-2" ng-if="skuShelfType==1">
                            <span class="semi-bold-text">Shelf Life(Days)</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==1">
                            <input ng-keypress="Num($event)" type="number" min="0" id="shelfLife" name="shelfLife" ng-model="inventoryData.tableSkuInventoryShelfLifeInDays" class="darkgrey-bottom-border" ng-readonly="true"></input>
                        </div>
                    </div>

                    <!-- Mfg and Expiry Date -->
                    <div class="row row-margin-top">
                        <div class="col-md-2" ng-if="skuShelfType==1">
                            <span class="semi-bold-text">Mfg Date</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==1">
                            <input class="darkgrey-bottom-border" type="text" id="mfgDate" name="mfgDate" ng-model="inventoryData.tableSkuInventoryMfgDate" ng-readonly="true"></input>
                        </div>
                        <div class="col-md-2" ng-if="skuShelfType==2">
                            <span class="semi-bold-text">Expire Date</span>
                        </div>
                        <div class="col-md-4" ng-if="skuShelfType==2">
                            <input class="darkgrey-bottom-border" type="text" id="expDate" name="expDate" ng-model="inventoryData.tableSkuInventoryExpiryDate" ng-readonly="true"></input>
                        </div>
                    </div>

                    <div class="row row-margin-top">
                        <div class="col-md-2">
                            <span class="semi-bold-text">Block Quantity</span>
                        </div>
                        <div class="col-md-4">
                            <input class="darkgrey-bottom-border" ng-keypress="Num($event)" type="number" min="0" id="blockQu" name="batchNo" ng-model="inventoryData.tableSkuInventoryBlockedCount" ng-change="validateAvBl(inventoryData.tableSkuInventoryBlockedCount,inventoryData.tableSkuInventoryAvailableCount)"
                                md-autofocus></input>
                        </div>
                    </div>

                    {{$parent.invData=inventoryData;""}}
                </div>
            </md-dialog-content>
            <md-dialog-actions style="background-color: #30373B; min-height: 60px;" layout="row">
                <span flex></span>
                <button class="cancel-btn" ng-click="cancelInventory()">
                    Cancel
                </md-button>
                <button ng-if="mode=='add'" class="action-btn" ng-disabled="invMRPMSP" ng-click="addInventory(invData)">
                    Add
                </md-button>
                <button ng-if="mode=='edit'" class="action-btn" ng-disabled="invMRPMSP" ng-click="updateInventory(invData)">
                    Update
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<script type="text/javascript">
    function isNumberKey(evt, element) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && !(charCode == 46 || charcode == 8))
            return false;
        else {
            var len = $(element).val().length;
            var index = $(element).val().indexOf('.');
            if (index > 0 && charCode == 46) {
                return false;
            }
            if (index > 0) {
                var CharAfterdot = (len + 1) - index;
                if (CharAfterdot > 3) {
                    return false;
                }
            }

        }
        return true;
    }
</script>
