<div class="modal fade" id="shippingAddressModal" role="dialog" aria-labelledby="shippingAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #F2F7F8; padding-bottom: 0px !important;" height="100px">
                <button type="button" class="close" ng-click="cancelShippingAddress()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p ng-if="shipAddressMode=='add'" class="dialog-heading-p" id="shippingAddressModalLabel">Add New Shipping Address</p>
                <p ng-if="shipAddressMode=='edit'" class="dialog-heading-p" id="shippingAddressModalLabel">Edit Shipping Address</p>

            </div>
            <div class="modal-body" style="overflow-x: hidden;padding-top: 0px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Information Area -->

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Contact Person Name</div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="First Name" ng-model="customerAddress.contactPersonName">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Email Id</div>
                                <div class="col-md-6">
                                    <input type="email" name="custEmail" id="custEmail" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="Type Here" ng-model="customerAddress.contactEmail" ng-blur="validateEmail(myForm.custEmail.$valid);">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Phone Number</div>
                                <div class="col-md-6">
                                    <input type="text" ng-keypress="Num($event)" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="Type Here" ng-model="customerAddress.contactPhone">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Address Line 1</div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="Type Here" ng-model="customerAddress.adLine1" ng-blur="callGetLatLong(showResult)">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Address Line 2</div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="Type Here" ng-model="customerAddress.adLine2" ng-blur="callGetLatLong(showResult)">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">Address Line 3</div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control darkgrey-bottom-border font input-less-padding" placeholder="Type Here" ng-model="customerAddress.adLine3" ng-blur="callGetLatLong(showResult)">
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">State</div>
                                <div class="col-md-6">
                                    <select ng-model="customerAddress.stateData" class="form-control" ng-options="option as option.tableStateLongName for option in regionsStatesArray" ng-change="regionsStatesDistrictData(customerAddress.stateData);">
                                  <option value="">Select State</option>
                                </select>
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">District</div>
                                <div class="col-md-6">
                                    <select ng-model="customerAddress.districtData" class="form-control" ng-options="option as option.tableDistrictLongName for option in regionsStatesDistrictArray" ng-change="regionsStatesDistrictsCityData(customerAddress.stateData,customerAddress.districtData);">
                                  <option value="">Select District</option>
                                </select>
                                </div>
                            </div>

                            <div class="row padding-top-15">
                                <div class="col-md-6 font">City</div>
                                <div class="col-md-6">
                                    <select ng-model="customerAddress.city" class="form-control" ng-options="option as option.tableCityLongName for option in regionsStatesDistrictsCityArray" ng-change="changeCity(customerAddress.city);">
                                  <option value="">Select City</option>
                                </select>
                                </div>
                            </div>
                            <div class="row padding-top-15">
                                <div class="col-md-6 font">PIN Code</div>
                                <div class="col-md-6">
                                    <input type="number" min="0" class="form-control darkgrey-bottom-border font input-less-padding" ng-blur="callGetLatLong()" placeholder="Type Here" ng-model="customerAddress.pincode">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-top-15">
                            <!-- Map Area -->
                            <demo-map ng-if="searchLocation" ng-model="searchLocation" class="demo-map"></demo-map>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-dialog-footer">
                <button type="button" class="cancel-btn" ng-click="cancelShippingAddress()">Cancel</button>
                <button ng-if="shipAddressMode=='add'" type="button" class="action-btn" ng-click="saveShippingAddressData();">
                    Add
                </button>
                <button ng-if="shipAddressMode=='edit'" type="button" class="action-btn" ng-click="editShippingAddressData()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
